<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CRUD Spring Boot Application with Thymeleaf</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <h1 align="center">CRUD Spring Boot Application with Thymeleaf   </h1>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a th:href = "@{/}" type="button" class="btn btn-danger" >Back</a>
        </div>

        <p></p>

        <hr>
        <h2 >Add Employee</h2>
        <p></p>
        <p></p>
        <p></p>


        <form action="#" th:action="@{/saveEmployee}" th:object = "${employee}" method="POST">
            <label  class="form-label">First Name</label>
            <input type="text" th:field="*{firstName}" placeholder="Employee First Name" class="form-control mb-3 col-5" align="center" >
            <label  class="form-label">Last Name</label>
            <input type="text" th:field="*{lastName}" placeholder="Employee Last Name" class="form-control mb-3 col-5" align="center">
            <label  class="form-label">Email</label>
            <input type="text" th:field="*{email}" placeholder="Employee Email" class="form-control mb-3 col-5" align="center">

            <button type="submit" class="btn btn-success"> Add Employee </button>

        </form>
        <p></p>
        <hr>

    </div>

</body>
</html>